[submodule "RT"]
	path = RT
	url = https://github.com/baxterai/openRT.git
[submodule "ANN"]
	path = ANN
	url = https://github.com/baxterai/openANN.git
[submodule "SANI"]
	path = SANI
	url = https://github.com/baxterai/openSANI.git
